$color-background: #E5E5E5;
$color-header: #000;
$color-footer: #111115;
$color-green: #4B9200;
$color-orange: #FE9013;
$color-orange-btn: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$color-orange-hover: #E47209;
$color-animal-border: #FA6F32;
$color-yellow: #FFEE2E;
$color-orange-grad: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-pink-grad: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-red: #D31414;
$color-black-blue: #333B41;
$color-gray: #767474;
$color-gray-smoky: #ABABAB;
$color-light-gray: #F1F3F2;
$color-frosted-glass-white: rgba(253, 253, 255, 0.52);
$color-testimonials-date: #BDBDBD;
$color-footer-link: #FFF;
$color-link_icon: #C4C4C4;
$color-donate-text-annotation: #FFF;
$color-donate-input-number: #929699;
$color-donate-slider-background: #404950;
$color-donate-slider-line: #72828E;
$color-humburger-line: #FFF;
$color-testimonials-bg: #F5F7F6;

$wrapper-width: 1160px;

$width-animal-slider: 1325px;

$small-desktop-width: 1000px;
$small-desktop-width-wrapper: 940px;
$small-laptop-width: 920px;
$tablet-width: 640px;
$tablet-width-wrapper: 600px;
// $mobile-width: 320px;
$mobile-width: 600px;
$mobile-width-wrapper: 300px;